.container {
	background: url(../images/vintage.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	line-height: 150%;
	font-size: 18px;
}

.letter {
	font-size: 30px;
	border-width: 2px;
	border-style: solid;
	width: 1em;
	height: 1em;
	margin-right: 5px;
	float: left;
	background-color:  rgba(255, 255, 255, .5);
	text-align: center;

}

#status {
	background-color:  rgba(255, 255, 255, .5);
	border-radius: 10px;
	text-align: center;
	padding: 20px
}

#man {
	margin-top: 35px;
}

.man-7 {
	width: 107px;
	height: 110px;
	background: url("../images/hsteps.jpg") 0 0;
}

.man-6 {
	width: 107px;
	height: 110px;
	background: url("../images/hsteps.jpg") -107px 0;
}
.man-5 {
	width: 107px;
	height: 110px;
	background: url("../images/hsteps.jpg") -214px 0;
}

.man-4 {
	width: 107px;
	height: 110px;
	background: url("../images/hsteps.jpg") -319px 0;
}
.man-3 {
	width: 107px;
	height: 110px;
	background: url("../images/hsteps.jpg") -422px 0;
}

.man-2 {
	width: 107px;
	height: 110px;
	background: url("../images/hsteps.jpg") -532px 0;
}

.man-1 {
	width: 107px;
	height: 110px;
	background: url("../images/hsteps.jpg") -633px 0;
}